.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header */
.navigate {
  background: #f3722c;
  background: linear-gradient(180deg, #f3722c 0%, #eaac8b 100%);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigate-list {
  max-width: 1280px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigate-list li:not(:last-child) {
  margin-right: 2rem;
}

.navigate-list a {
  font-size: 1.5rem;
}

/* Home page */
.search-form {
  text-align: center;
}

.search-form label {
  margin-right: 1rem;
}

.search-button {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  color: #fefae0;
  background-color: #59189a;
}

.cards {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

/* Card component */
.card {
  flex-basis: 30%;
  border-radius: 1rem;
  border: 1px dashed #2b2d42;
  padding: 1rem;
  background: #eaac8b;
  background: linear-gradient(180deg, #eaac8b 0%, #f1e8bd 100%);
  box-shadow: 0px 15px 25px 0px #42445a;
}

.card-img {
  width: 100%;
  height: 18rem;
}

.card-title {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.card-price {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: oblique;
  text-align: right;
  color: #f3722c;
}

.card-text {
  height: 5rem;
  text-overflow: ellipsis;
  overflow: auto;
  text-align: justify;
  margin: 0.5rem 0;
}

.card-tags > *:not(:last-child){
  margin-right: 0.5rem;
}

.tag {
  color: #59189a;
  background-color: #e0aaff;
  border: 1px solid #5a189a;
  padding: 0.2rem 0.5rem;
  vertical-align: text-top;
}

/* Forms page */
.formcontainer {
  border-radius: 1rem;
  border: 1px dashed #2b2d42;
  padding: 1rem;
  background: #eaac8b;
  background: linear-gradient(180deg, #eaac8b 0%, #f1e8bd 100%);
}

.form {
  min-height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.form-element {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-element:not(:last-child) {
  margin-bottom: 0.5rem;
}

.form-submit {
  justify-content: end;
}

.switch input {
  width: 0;
  height: 0;
}

.switch label {
  display: inline-block;
  width: 5rem;
  background-color: #f3722c;
  opacity: 0.6;
  text-align: center;
  padding: 0.5rem 0;
  margin-right: -1px;
  border: 1px solid #00000033;
  box-shadow: inset 0 1px 3px #0000004d, 0 1px #ffffff1a;
	transition: all 0.3s ease-in-out;
}

.switch label:first-of-type {
  border-radius: 0.5rem 0 0 0.5rem;
}

.switch label:last-of-type {
  border-radius: 0 0.5rem 0.5rem 0;
}

.switch label:hover {
	cursor: pointer;
}

.switch input:checked + label {
	opacity: 1;
	box-shadow: none;
}

.file {
  width: 9rem;
  border: none;
  color: transparent;
  padding: 0;
}

.file::-webkit-file-upload-button {
  visibility: hidden;
}

.file::before {
  content: 'Choose foto';
  color: #2b2d42;
  display: inline-block;
  background: #f3722c;
  background: linear-gradient(180deg, #f3722c 0%, #eaac8b 100%);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  transition: all .3s;
}
.file:hover::before {
  background: #f3722c;
}

.file:active::before,
.submit:active {
  transform: scale(0.9);
}

.submit {
  width: 9rem;
  background: #5a189a;
  color: #fefae0;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  transition: all .3s;
  text-align: center;
}

.submit:hover {
  background: #c77dff;
}

.form-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

/* NoMatch page */
.wrapper-no-match {
  max-width: 80%;
  margin: 1rem auto;
  border-radius: 50%;
  background: #e0aaff;
  background: radial-gradient(circle, #e0aaff 0%, #fefae0 80%);
}