:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #fefae0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #5a189a;
  text-decoration: none;
  transition: all .3s;
}
a:hover {
  color: #c77dff;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: #fefae0;
  font-size: 1.5rem;
  line-height: 1.1;
  pointer-events: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}

.btn, .tag {
  border-radius: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all .3s;
}

.btn {
  background: #5a189a;
  color: #fefae0;
  border: none;
}

.btn[disabled] {
  background-color: #c77dff;
  pointer-events: none;
}

.btn:hover {
  background-color: #c77dff;
}

.btn:active {
  transform: translateY(3px);
}

label {
  font-size: 1.2rem;
  font-weight: 500;
}

input {
  border-radius: 1rem;
  border: 1px dashed #2b2d42;
  color: #c77dff;
  font-size: 1.3rem;
  padding: 3px 1rem;
}

input:focus {
  border-color: #e0aaff;
  outline: none;
}

select {
  width: 10rem;
  font-size: 1rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px dashed #2b2d42;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding: 1rem;
  display: flex;
}

.center-column {
  flex-direction: column;
  align-items: center;
}

.two-columns {
  justify-content: space-between;
}

.two-columns > * {
  flex-basis: 49%;
}